In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../csv/delays_reduced.csv')
df.head()

,year_month,year,month,carrier,carrier_name,airport_code,city,state,airport_full_name,airport_name_cleansed,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2021-12-01,2021,12,9E,Endeavor Air Inc.,ATL,Atlanta,GA,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",Hartsfield-Jackson Atlanta International,...,0.0,160.18,12.0,4.0,30500.0,10300.0,2853.0,4638.0,0.0,12709.0
1,2021-12-01,2021,12,9E,Endeavor Air Inc.,CLT,Charlotte,NC,"Charlotte, NC: Charlotte Douglas International",Charlotte Douglas International,...,0.0,0.00,0.0,0.0,123.0,60.0,0.0,63.0,0.0,0.0
2,2021-12-01,2021,12,9E,Endeavor Air Inc.,DFW,Dallas/Fort Worth,TX,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",Dallas/Fort Worth International,...,0.0,0.44,0.0,0.0,41.0,5.0,0.0,18.0,0.0,18.0
3,2021-12-01,2021,12,9E,Endeavor Air Inc.,EWR,Newark,NJ,"Newark, NJ: Newark Liberty International",Newark Liberty International,...,0.0,3.35,0.0,0.0,994.0,208.0,66.0,441.0,0.0,279.0
4,2021-12-01,2021,12,9E,Endeavor Air Inc.,LGA,New York,NY,"New York, NY: LaGuardia",LaGuardia,...,0.0,44.42,4.0,2.0,11040.0,3392.0,449.0,3826.0,0.0,3373.0

In [5]:
df["delay_rate"] = np.where(
    df["arr_flights"] > 0,
    df["arr_del15"] / df["arr_flights"],
    np.nan
)
df["delay_rate"] = df["delay_rate"] * 100

In [6]:
df["avg_delay_min"] = df["arr_delay"] / df["arr_flights"]

In [7]:
season_map = {
    12: "Winter", 1: "Winter", 2: "Winter",
    3: "Spring", 4: "Spring", 5: "Spring",
    6: "Summer", 7: "Summer", 8: "Summer",
    9: "Fall", 10: "Fall", 11: "Fall"
}

df["season"] = df["month"].map(season_map)

In [8]:
df.to_csv('../csv/delays_updated.csv', index=False, encoding='utf-8')